﻿@model OdeToFood.Models.RestaurantReview

@{
    ViewBag.Title = "Create";
}

<h3>Create</h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div class="well">
        <fieldset>
            <legend>New Review</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Rating)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Rating)
                @Html.ValidationMessageFor(model => model.Rating)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Body)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Body)
                @Html.ValidationMessageFor(model => model.Body)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ReviewerName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ReviewerName)
                @Html.ValidationMessageFor(model => model.ReviewerName)
            </div>


        </fieldset>
        </div>
    <div>
        <button type="submit" class="btn btn-primary btn-sm" value="Create">Create</button>
        <a href="/Restaurant/Index" class="btn btn-primary btn-sm">Back To List</a>
    </div>
}



        @section Scripts {

        }
