﻿@model OdeToFood.Models.Restaurant



@{
    ViewBag.Title = "Index";
}

<h3>Reviews for @Model.Name</h3>

@Html.Partial("_Reviews", Model.Reviews)

<p>
    @Html.ActionLink("Create New", "Create", new { restaurantId = Model.Id })
    <a href="/Restaurant/Index" class="btn btn-primary btn-sm">Back To List</a>
</p>
