﻿@model OdeToFood.Models.Restaurant

@{
    ViewBag.Title = "Delete";
}

<h3>Delete</h3>

<h4>Are you sure you want to delete this?</h4>
<div class="well">
    <fieldset>

        <legend>Restaurant</legend>

        <div class="label label-warning">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="label label-warning">
            @Html.DisplayNameFor(model => model.City)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.City)
        </div>

        <div class="label label-warning">
            @Html.DisplayNameFor(model => model.Country)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Country)
        </div>
    </fieldset>
    </div>
    @using (Html.BeginForm())
    {
        <p>
            <button type="submit" class="btn btn-primary btn-sm" value="Delete">Delete</button>
            <a href="/Restaurant/Index" class="btn btn-primary btn-sm">Back To List</a>
        </p>
    }
