﻿@model OdeToFood.Models.Restaurant

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div class="well">
        <fieldset>
            <legend>Restaurant</legend>

            @Html.HiddenFor(model => model.Id)

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">

                <input type="text" value="@Model.Name" />


                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.City)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Country)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
            </div>
        </fieldset>
        </div>
    <div>
        <button type="submit" class="btn btn-primary btn-sm" value="Save">Save</button>
        <a href="/Restaurant/Index" class="btn btn-primary btn-sm">Back To List</a>
    </div>
}



        @section Scripts {

        }
