﻿@model OdeToFood.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h3>@ViewBag.Title.</h3>
</hgroup>

<section id="loginForm">
<h4>Use a local account to log in.</h4>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="well">
        <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            
            <button type="submit" class="btn btn-primary btn-sm" value="Log in">Log in</button>
        </fieldset>
        </div>
        <p>
            @Html.ActionLink("Register", "Register") if you don't have an account.
        </p>
        }
</section>

<div class="well">
    <section class="social" id="socialLoginForm">
        <h4>Use another service to log in.</h4>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>
    @section Scripts {

    }
