﻿@model OdeToFood.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h3>@ViewBag.Title.</h3>
    <h4>Create a new account.</h4>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="well">
        <fieldset>
            <legend>Registration Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
            </ol>
            
            <button type="submit" class="btn btn-primary btn-sm" value="Register">Register</button>
        </fieldset>
        </div>
        }

        @section Scripts {

        }
