﻿@model IPagedList<RestaurantListViewModel>

<div id="restaurantList">

    <div class="pagedList" data-otf-target="#restaurantList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>


    @foreach (var item in Model)
    {
        <div>
            <h4>@item.Name</h4>
            <div>
                @item.City, @item.Country
            </div>
            <div>
                Reviews: @item.CountOfReviews
            </div>
            <hr />
        </div>
    }

   
       
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Number of Reviews</th>
        </tr>
        @foreach (var item in Model) 
        {
        <tbody>
        <tr>
        <td>@item.Name</td>
        <td> @item.City</td>
        <td> @item.Country</td>
        <td> @item.CountOfReviews</td>
        </tr>
        </tbody>
        }   
    </table>
    

</div>
