﻿@model OdeToFood.Models.AboutModel
@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h3>Food Review Application</h3>
    <h4>Application to input the reviews about diners.</h4>

</hgroup>
<blockquote>
    <p>You are what you Eat !</p>
    <small>--Buddhist Quote <cite title="Source Title"></cite></small>
</blockquote>

