﻿@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h3>@ViewBag.Title.</h3>
    
</hgroup>

<section class="contact">
    <header>
        <h4>Phone</h4>
    </header>
    <p>
        <span class="glyphicon glyphicon-earphone"></span>
        <span>+919036792764</span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="glyphicon glyphicon-envelope"></span>
        <span><a href="raj.shringi@gmail.com">raj.shringi@gmail.com</a></span>
</section>

